@font-face {
  font-family: "PressStart2P-Regular";
  src: url("./PressStart2P-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NineteenNinetyThree-L1Ay";
  src: url("./NineteenNinetyThree-L1Ay.ttf") format("truetype");
}

* {
  font-family: "PressStart2P-Regular", monospace;
  scrollbar-width: none;
}

body {
  margin-top: 50;
  padding: 0;
  background-color: #0d1116;
  color: #ffffff;
  line-height: 1.5;
  font-size: 18px;
  align-content: left;
}

* {
  font-family: "NineteenNinetyThree-L1Ay", sans-serif;
  scrollbar-width: none;
}

.pressstart {
  font-family: "PressStart2P-Regular", monospace;
}

.japanese {
  font-family: "NineteenNinetyThree-L1Ay", sans-serif;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: 3px solid #ffffff;
  margin-left: 50px;
  width: 850px; /* Replace max-width with fixed width */
  max-width: none;
  background-color: rgba(13, 17, 23, 0.9);
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.terminal-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
}

.terminal-box::before {
  content: ">";
  margin-right: 14px;
  font-weight: bold;
}

.pixel-border {
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}
.tech-row {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add back justify-content */
  padding: 1px 0;
  width: 100%; /* Ensure full width usage */
  margin-right: 15px; /* Add margin for icon spacing */
}

.tech-icon {
  width: 20px;
  height: 20px;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  margin-left: auto; /* Push icon to the right */
}

.terminal-box pre {
  margin: 0;
  padding: 5px;
  line-height: 1.2;
}
