@font-face {
  font-family: "NineteenNinetyThree-L1Ay";
  src: url("./NineteenNinetyThree-L1Ay.ttf") format("truetype");
}

* {
  font-family: "NineteenNinetyThree-L1Ay", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d1116;
  color: #ffffff;
  line-height: 1.6;
  align-content: left;
}
.japanese {
  font-family: "NineteenNinetyThree-L1Ay", sans-serif;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: 3px solid #ffffff;
  margin-left: 50px;
  max-width: 1050px;
  background-color: rgba(13, 17, 23, 0.9);
}

.terminal-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: -40px;
}

.terminal-box::before {
  content: ">";
  margin-right: 14px;
  font-weight: bold;
}

.pixel-border {
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}
