* {
  font-family: "DepartureMono Nerd Font", monospace;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #0d1116;
  color: #ffffff;
  line-height: 1.6;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 10px;
}

fieldset {
  margin: 20px 0;
  padding: 15px;
  max-width: 800px;
  background-color: rgba(13, 17, 23, 0.8);
}

.terminal-box {
  padding: 15px;
  margin: 10px;
  background-color: #0d1117;
  position: relative;
}

.terminal-box::before {
  content: ">";
  position: absolute;
  left: 5px;
  color: rgb(0, 0, 255);
}

.pixel-border {
  position: relative;
  padding: 3px;
}

.pixel-border::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #30363d 25%, transparent 25%) -2px 0,
    linear-gradient(-45deg, #30363d 25%, transparent 25%) -2px 0;
  background-size: 4px 4px;
  z-index: -1;
}

a {
  color: #58a6ff;
  text-decoration: none;
  padding: 2px 5px;
}

a:hover {
  background-color: #30363d;
  color: #ffffff;
}
